# Node modules
node_modules/

# TypeScript compiled files
dist/

# SQLite database file
database.sqlite

# Environment variables file
.env

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS files
.DS_Store
Thumbs.db
